<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="mainBackground">
    
    <div class="par1-2">
        <div>
            <p class="welcome">
                Welcome to Kinder!<br>
                Give, get karma points and compete with other people!
            </p>
        </div>
        <div class="rect">
            <img src="~/Rectangle 3.png" />
        </div>
    </div>
    
    <div class="par1-2">
        <div class="rect1">
            <img src="~/Rectangle 1.png" />
        </div>
        <div class="par4">
            Each year, a lot of various items are thrown away, and sometimes, these items that appear in our garbage cans, are not actually garbage!
        </div>
    </div>
    
    <div class="par1-2">
        <div class="par2">
            Some people just want to free up some space by getting rid of their various unused items, but they don't stop to think that their trash could be someone else's treasure.
        </div>
        <div class="rect4">
            <img src="~/Rectangle 4.png" />
        </div>
    </div>
    
    <div class="par6">
        So in order to fight this problem, our team created an application which will help people give away items that they don't need anymore to someone who really does.
    </div>
    <div class="par3">
        <a asp-action="Swiping" asp-controller="Home">Give it a try</a>
    </div>
    <div class="par5">
        This application works on the concept of "swiping" that can be seen in some other applications like "Tinder" so the app should feel familiar to anyone that has seen or used such apps.
    </div>
    <div class="par7">
        List items that you don't need<br>
        People who need them will like them<br>
        Choose who will get your item<br>
        Earn karma points and compete with other people on the leaderboards!<br>
    </div>
    <div class="par1">
        Tutorial:
    </div>
    <div class="par8">
        Step 1<br>
        Login or create a new account!<br>
        <br>
        Step 2<br>
        Create an item description and publish it, or swipe other people items in order to find the one that you need!<br>
        <br>
        Step 3<br>
        Get the items you want or give away the ones you don't!<br>
    </div>
    <footer>

    </footer>
</body>
</html>






